body
	font-family: "Poppins"

	#location-search-map
		height: 52vh
		width: 100%

	.user-location-details-container
		display: flex
		flex-direction: column

		.location-details-header
			display: flex
			justify-content: space-between

			#favourite-icon
				padding-top: 0.75em
				padding-right: 0.50em

		.selected-location-details-container
			display: flex

			.selected-location-details
				display: flex
				flex-direction: column
				padding-left: 0.5em

				#selected-street
					margin: 0

				#selected-town
					margin: 0

		.additional-location-details-container
			display: flex
			justify-content: space-between
			margin-top: 1em

			#house-no
				width: 75%

			#landmark
				margin-left: 0.5em
				width: 100%

	#set-location-button-text
		text-align: center
