body
    font-family: "Poppins"

    #set-location-map
        height: 33vh
        width: 100%
        margin: 0
        padding: 0

    #saved-locations
        display: none

        #list-item
            text-align: center
            font-size: 16px
