body
    font-family: "Poppins"

    #set-location-btn-container
        display: flex
        height: 20vh
        margin-top: 0.5em
        margin-bottom: 0.5em

        #set-location-btn
            background-color: #EB5757
            color: #F1F1F1
            font-size: 17px
            overflow-wrap: break-word

    #horizontal-line
        margin-top: 1em
        color: #EB5757

    #tab-item
        font-size: 14px

    #saved-locations
        display: none

        .set-location-saved-location-list-item
            font-size: 14.5px

    #previous-locations
        display: none
        .set-location-previous-location-list-item
            font-size: 14.5px

    #set-location-fa-icons
        margin-right: 1em
        color: #EB5757

    #configure-location-btn
        background-color: #EB5757
        color: #F1F1F1
